page-home {

    .marco {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    .marco ion-item{
        padding: 15px;
    }

}
